In [22]:
import pandas as pd
from glob import glob

xlsxs = glob("xlsx/*.xlsx")

# Convert one xlsx file to Pandas dataframe.
def to_dataframe(f):
    return pd.read_excel(
        io=f,
        header=2,
        # 'U' is used as unknown for many columns in the data.
        # Seems reasonable to treat that as None/null.
        na_values='U'
    )

In [7]:
# Check our glob worked
xlsxs

['xlsx/RentalBond_Lodgements_June_2019.xlsx',
 'xlsx/RentalBond_Lodgements_January_2018.xlsx',
 'xlsx/RentalBond_Lodgements_July_2020.xlsx',
 'xlsx/RentalBond_Lodgements_December_2019.xlsx',
 'xlsx/Rental-Bond-Lodgements-for-August-2019.xlsx',
 'xlsx/RentalBond_Lodgements_January_2019.xlsx',
 'xlsx/RentalBond_Lodgements_June_2018.xlsx',
 'xlsx/RentalBond_Lodgements_October_2018.xlsx',
 'xlsx/RentalBond_Lodgements_March_2019.xlsx',
 'xlsx/Rental-bond-lodgements-for-March-2020.xlsx',
 'xlsx/RentalBond_Lodgements_May_2018.xlsx',
 'xlsx/RentalBond_Lodgements_February_2020.xlsx',
 'xlsx/RentalBond_Lodgements_November_2018-Copy.xlsx',
 'xlsx/RentalBond_Lodgements_May_2019.xlsx',
 'xlsx/RentalBond_Lodgements_April_2020.xlsx',
 'xlsx/RentalBond_Lodgements_December_2018-Copy.xlsx',
 'xlsx/RentalBond_Lodgements_March_2018.xlsx',
 'xlsx/RentalBond_Lodgements_April_2019.xlsx',
 'xlsx/RentalBond_Lodgements_February_2019.xlsx',
 'xlsx/Rental-Bond-Lodgements-for-May-2020.xlsx',
 'xlsx/RentalBond_Lodgements_February_2018.xlsx',
 'xlsx/RentalBond_Lodgements_April_2018.xlsx',
 'xlsx/RentalBond_Lodgements_August_2018.xlsx',
 'xlsx/Rental-Bond-Lodgements-for-October-2019.xlsx',
 'xlsx/RentalBond_Lodgements_January_2020.xlsx',
 'xlsx/Rental-Bond-Lodgements-for-November-2019.xlsx',
 'xlsx/RentalBond_Lodgements_July_2018.xlsx',
 'xlsx/RentalBond_Lodgements_July_2019.xlsx',
 'xlsx/RentalBond_Lodgements_June_2020.xlsx',
 'xlsx/RentalBond_Lodgements_September_2018.xlsx',
 'xlsx/Rental-Bond-Lodgements-for-September-2019.xlsx']

In [23]:
# Concatenate together all spreadsheets.
df = pd.concat([to_dataframe(xlsx) for xlsx in xlsxs])
df

      Lodgement Date  Postcode Dwelling Type  Bedrooms  Weekly Rent
0         2019-06-04      2000             F       0.0        500.0
1         2019-06-07      2000             F       0.0        500.0
2         2019-06-18      2000             F       0.0        785.0
3         2019-06-17      2000             F       0.0        580.0
4         2019-06-28      2000             F       0.0        590.0
...              ...       ...           ...       ...          ...
29570     2019-09-20      2880             H       3.0        200.0
29571     2019-09-02      2880             H       4.0        370.0
29572     2019-09-11      2880             H       4.0        238.0
29573     2019-09-25      2880             H       4.0        320.0
29574     2019-09-05      2880             H       6.0        370.0

[894062 rows x 5 columns]

In [25]:
# Check types
df.dtypes

Lodgement Date    datetime64[ns]
Postcode                   int64
Dwelling Type             object
Bedrooms                 float64
Weekly Rent              float64
dtype: object

In [24]:
# Output to JSONL for BigQuery
df.to_json(
    path_or_buf='nsw-rental-bonds.jsonl',
    orient="records",
    lines=True,
    date_format='iso'
)

In [31]:
# JSONL was too big (BigQuery had a 10MB upload limit). Output to parquet instead, much smaller.
df.to_parquet(
    path='nsw-rental-bonds.parquet',
    # Otherwise you get a '__index_level_0__' column
    index=False,
)